<!-- <form name="editForm" class="form-horizontal" ng-submit="saveMonster()" novalidate>
<div class="control-group">
    <label class="control-label" for="inputEmail">Event</label>
    <div class="controls">
      <input style="width:97%" type="text" ng-model="editedMonster.name" placeholder="Name" required>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Reason</label>
    <div class="controls">
      <input style="width:97%" type="text" ng-model="editedMonster.reason" placeholder="Reason" required>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-block btn-large btn-success">Save To Parse</button>
    </div>
  </div>
</form> -->

<form name="editForm" class="form-horizontal" ng-submit="saveArticle()" novalidate>
<div class="control-group">
    <label class="control-label">Headline</label>
    <div class="controls">
      <input style="width:97%" name="headline" type="text" ng-model="editedArticle.headline" placeholder="Headline" required>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" >Body</label>
    <div class="controls">
      <input style="width:97%" type="text" ng-model="editedArticle.body" placeholder="Body" required>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" >Source</label>
    <div class="controls">
      <input style="width:97%" type="text" ng-model="editedArticle.source" placeholder="Source" required>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" >Type</label>
    <div class="controls">
      <select ng-model="editedArticle.type" value="editedArticle.type" >
        <option value="tweet" class="form-control">Tweet</option>
        <option value="article" class="form-control">Article</option>
        <option value="podcast" class="form-control">Podcast</option>
      </select>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-block btn-large btn-success">Save</button>
    </div>
  </div>
</form>